{% extends 'base.html.twig' %}

{% block title %}Hello ProduitController!{% endblock %}

{% block body %}


    <div class="container">
        <h1> Modifier produit</h1><hr>


        {{ form(form) }}
    </div>




{% endblock %}