{% extends 'base.html.twig' %}

{% block title %}Hello ProduitController!{% endblock %}

{% block body %}


    <div class="container">
        <h1>Ajoutre un produits</h1><hr>




        {{ form(form) }}
    </div>




{% endblock %}